<FilesMatch "^(config\.php|database\.sql|README\.md|composer\.(json|lock))$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>

RewriteEngine On
RewriteRule ^(?:app|vendor|views)/ - [F,L]
RewriteRule ^$ router.php [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ router.php [QSA,L]
